@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: 6em 3fr 1fr;

    @media all and (max-width: $mobileBreakpoint) {
      & > .tags {
        display: none;
      }
    }

    & > .desc > h3 {
      /* Visual size ~ h4 */
      font-size: 18px;
      line-height: 1.4;
      margin: 0;
      @media (max-width: 768px) {
        font-size: 15px !important; /* slightly above body */
        line-height: 1.4;
      }
    }

    & > .desc > h3 > a {
      background-color: transparent;
    }

    & > .meta {
      margin: 0;
      flex-basis: 6em;
      opacity: 0.9;
      font-family: "Caveat", var(--bodyFont);
      font-size: 28px;
      line-height: 1.2;
      @media (max-width: 768px) {
        font-size: 14px !important; /* align with body */
        line-height: 1.2;
      }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;
  & > .tags {
    display: none;
  }
}
